DATABASE_URL=
GEMINI_API_KEY=
GEMINI_MODEL=
VAPI_PRIVATE_KEY=
VAPI_PUBLIC_KEY=
NGROK_AUTHTOKEN=
VAPI_ASSISTANT_ID=
VAPI_SERVER_TOKEN=
PUBLIC_BASE_URL=
VAPI_MODEL_CREDENTIAL_ID=
VAPI_WEBHOOK_CREDENTIAL_ID=
